[user]
	email = arp2600909@googlemail.com
	name = George
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff

# Defautl git difftool opens the file in readonly mode. Use this command to make the files writeable.
[difftool "vimdiff"] cmd = vim -f -d -c 'wincmd l' -c 'cd "$GIT_PREFIX"' "$LOCAL" "$REMOTE"
